<%= form_with(model: [ @game, @game.ratings.build ], local: true) do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :review %><br>
      <%= form.text_area :review %>
    </p>

    <p>
      Поставьте оценку
      <%= form.select(:value, options_for_select([['1', 1], ['2', 2],['3',3],['4',4],['5',5]])) %>

    </p>

    <p>
      <%= form.submit class:"btn btn-success" %>
    </p>
<% end %>